@import "nullstyle.scss";

.container{
	padding: 30px 70px;
	background-color: rgba(10, 67, 5, 0.809);
}
.content__item{
	background-image: url(/grad8844.github.io/img/depositphotos_72849269-stock-illustration-vintage-floral-motif-ethnic-seamless.jpg);
	/*background-color: rgb(20, 174, 107);*/
	padding: 30px;
	max-width:500px;
	margin: 0px auto;
	border: 3px solid rgb(186, 177, 53);
}
.form-form{
	text-align: center;
}
.form{
	margin-bottom: 15px;
}
.form-input{
	padding: 5px;
	border: 2px solid;
	font-size: 15px;
	background: gray;
	&:focus{
		background-color: rgba(12, 245, 20, 0.364);
	}
}
.form-checkbox{
	color:white;
}
.btn{
	padding: 5px 30px;
	font-size: 15px;
	background-color: green;
	color: white;
	border: 2px solid black;

	&:hover{
		background-color: brown;
	}
	&:active{
		background-color: chartreuse;
	}
}
input::placeholder{
	color: white;
}