* * {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

/*--------------------*/
.container {
  padding: 30px 0px;
  background-color: rgba(96, 8, 100, 0.946);
}

.content__item {
  margin: 0px auto;
  background-image: url(/grad8844.github.io/img/depositphotos_72849269-stock-illustration-vintage-floral-motif-ethnic-seamless.jpg);
  padding: 30px 0px;
  border: 3px solid #dad14f;
}

.form-form {
  text-align: center;
}

.form {
  margin-bottom: 15px;
}

.form-input {
  padding: 5px;
  border: 2px solid #2750f2;
  font-size: 15px;
  background: #0e434f;
}
.form-input:focus {
  background-color: rgba(12, 245, 20, 0.364);
}

.form-checkbox {
  color: white;
}

.btn {
  padding: 5px 30px;
  font-size: 15px;
  background-color: rgba(12, 245, 20, 0.364);
  color: white;
  border: 2px solid #dad14f;
}
.btn:hover {
  background: #0e434f;
}
.btn:active {
  background: #062a31;
}

input::placeholder {
  color: white;
}